*{
    margin: 0;
    padding: 0;
}
#navigation {
    background:blue;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#navigation >ul {
    display:flex ;
    margin-right: 50px;
}

#navigation > ul > li{

    list-style-type: none;
    margin: 0px 5px;
    margin-left:  -4px;  ;
    padding: 15px 0px;
    /* display: flex; */

}
#navigation >ul >li >a {
    text-decoration: none;
    color:white; 
    font-size: 18;
    border-right: 1px solid white ;
    padding: 20px ;
    transition: 0.5s;
}
#navigation > ul>li:first-child>a{
    border-left: 1px solid white;
    padding-left: 20px;
}
#navigation >ul>li:hover>a{
    background-color: rgb(3,87,172);
}
/* droop down menu start from here */
.dropdown{
    opacity: 0;
    visibility: hidden;
    background-color: blue;
    text-align: center;
    margin-top: 15px ;
    width:150px ;
    position:absolute ;
    transition: 0.5s;

}
.dropdown>li{
    list-style-type: none;
    padding: 10px 0px;
    border-bottom:1px solid white  ;
}
.dropdown>li:hover{
    background-color:rgb(3,87,172); ;
}
.dropdown>li:first-child{
    border-top:1px solid white
}
.dropdown>li>a{
    text-decoration: none;
    color:white;
}
#navigation>ul>li:hover>.dropdown{
   opacity: 1;
   visibility: visible;

}